{{define "page-css"}}
<link rel="stylesheet" href="/static/css/404.css">
{{end}}

{{define "content"}}
<div class="error-container-404">
    <!-- 4 [Image Feu] 4 -->
    <div class="error-row">
        <span class="error-digit">4</span>
        <img src="/static/images/tanjiroonfire.png" alt="Error" class="error-fire-img">
        <span class="error-digit">4</span>
    </div>

    <!-- Image "Sorry" + texte -->
    <div class="sorry-row">
        <img src="/static/images/naps_tajiro.jpg" alt="Sorry" class="sorry-img">
        <p class="sorry-text">Sorry...</p>
    </div>
</div>
{{end}}